.header {
  background: linear-gradient(rgb(58, 58, 58) 10%, #000);
  display: flex;
  justify-content: space-around;
}

.pageBtn {
  background: none;
  border: none;
  font-size: 20px;
  padding: 20px;
  margin: 5px 20px;
  background-color: rgb(105, 105, 105);
  border-radius: 25px;
  box-shadow: 25px;
}

.pageBtn:hover {
  background-color: rgb(152, 152, 152);
}

.active {
  background-color: rgb(215, 215, 215);
  color: #000;
}
