.statistic {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  aspect-ratio: 1 / 1;
  max-width: 270px;
  background: linear-gradient(180deg, rgb(57, 57, 57) 1%, rgba(0, 0, 0, 0));
  border-radius: 5px;
}

.statValue {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 900;
}

.statHeading {
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}

.column {
  flex-direction: column;
}

.listItem {
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
  margin-bottom: 2px;
}

.movieCards {
  display: flex;
  gap: 10px;
}
