.statisticsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
  grid-auto-rows: 1fr;
}

.statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  aspect-ratio: 1 / 1;
  width: 270px;
  background: linear-gradient(180deg, rgb(57, 57, 57) 1%, rgba(0, 0, 0, 0));
  border-radius: 5px;
}
.statValue {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 900;
}

.column {
  flex-direction: column;
}

.statHeading {
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  text-align: center;
}

.listItem {
  font-size: 18px;
  padding-left: 10px;
  text-align: center;
  margin-bottom: 2px;
}

.movieCards {
  display: flex;
  gap: 10px;
  width: 70%;
}

@media only screen and (max-width: 900px) {
  .statisticsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 550px) {
  .statisticsList {
    grid-template-columns: 1fr;
  }
}
