* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

body {
  background-color: rgb(12, 12, 12);
}

.App {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
